/* theFairWin-main-wrapper */
/* .theFairWin-main-wrapper{

} */
/* buyTickets-table */
.buyTickets-table{    
    padding: 0;
    width: 50%;
    margin: auto;
    background: #fff;
}
.tblheader{
    background: #EFEFEF;
    height: 40px;
}
.tblheader1{
    background: #EFEFEF;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.ticket-table-w{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
.ticket-table{
    border: 1px solid #EFEFEF;
    width: 45%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
}
.ticket-table .header{
    background: #EFEFEF;
    display: flex;    
    height: 40px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ticket-table .header .t-header-n{    
    width: 40%;
}
.ticket-table .header .t-header-t{    
    width: 60%;
}
.body-r{
    display: flex;
    height: 40px;
    align-items: center;
}
.body-r .n{
    width: 40%;
}
.body-r .t{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-r .t span{
    background: #2F5D8E;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 100px;
}
.rowbg{
    background: #FBFBFB;
    border: 1px solid #FBFBFB;
}
.buyTickets-table td{
    padding: 0 10px;
}
.buyTickets-table tr{
    margin-bottom: 10px;
}
.tbl-top-p{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    border: 1px solid #2F5D8E;
    width: 50%;
    margin: auto;
    border-top-left-radius: 10px;    
    border-top-right-radius: 10px;  
    border-bottom: none;
    background: #2F5D8E;
    color: #fff;
    height: 50px;
    align-items: center;    
}
.tbl-bottom-p{    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    margin: auto;
    border-top: none;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
    padding-bottom: 20px;
}
.buyTickets-table input{
    width: 70px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
}
.buyTickets-table .top-small-tds{
    font-size: 14px;
}
/* buyTickets-wrapper */
.buyTickets-wrapper{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.td2-border-right{
    border-right: 1px solid #ccc;
}
/* your-current-play-wrapper */
.theFairWin-section-wrapper{
    border-bottom: 1px solid #ccc;
    padding: 20px;    
}
.finished-draws-title{
    font-size: 35px;
    margin-bottom: 20px;
}
/* checkNow-btn-wrapper */
.checkNow-btn-wrapper{
    margin-top: 10px;
    display: flex;
    justify-content: center;        
}
.checkNow-btn{
    border: none;
    outline: none;
    background: #D55E2D;
    color: #fff;        
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 120px;
}
/* history-buttons-wrapper */
.history-buttons-wrapper{
    display: flex;
    justify-content: center;
}
.history-buttons-wrapper .history-button{    
    padding: 5px 0px;    
    color: #A0A0A0;
    cursor: pointer;
}

.uper-text{
    width: 70%;
    margin: auto;
    background: rgba(82, 144, 228, 0.11);    
    border: 1px solid #5290E41C;
    padding: 20px;
    border-radius: 20px;
    color: #2F5D8E;
}

.you-win{
    font-size: 30px;
    font-weight: 700;
    color: #2F5D8E;    
    width: 35%;
    margin: auto;
    margin-top: 20px;    
}
.know-more{
    width: 35%;
    margin: auto;
    font-size: 14px;    
    color: #2F5D8E;
    text-align: right;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.know-more span{
    width: 35%;
    margin: auto;
    font-size: 12px;    
    color: #D45E2C;
    text-align: right;    
}

.timetonextPlay{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.nextplay-time-w{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.nextplay-time-w .colon{
    color: #D45E2C;
    padding: 20px;
    font-size: 30px;
}
.nextplay-time-w .item{    
    width: 107px;    
}
.nextplay-time-w .item .digit{
    width: 100%;
    height: 98px;
    font-size: 48px;
    display: flex;
    color: #D45E2C;
    justify-content: center;
    align-items: center;
    border: 1px solid #5290E41C;
    border-radius: 10px;
    background: rgba(82, 144, 228, 0.11);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.nextplay-time-w .item .text{
    color: #2F5D8E;
    font-size: 20px;
    margin-top: 10px;
}