/* contentArea-wrapper */
.contentArea-wrapper {
  width: calc(100% - 20%);  
  padding-top: 10px;  
  margin-left: 20%;  
  position: relative;
  min-height: calc(100vh - 60px)!important;
}
.contentAreaLeftCircle{
  position: absolute;
  left: 0px;
  top: 0;
  z-index: -1;  
  width: 50%;
}
.contentAreaRightCircle{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;  
  width: 50%;
}
.blue-lyaer{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;    
  background: #f2f9ff;
}