/* contentArea-wrapper */
.contentArea-wrapper {    
  padding-top: 10px;   
  position: relative;  
  min-height: calc(100vh - 40px)!important;    
}
.contentAreaLeftCircle{
  position: absolute;
  left: 0px;
  top: 0;
  z-index: -1;  
  width: 40%;
}
.contentAreaRightCircle{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;  
  width: 40%;
}
.blue-lyaer{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;    
  background: #f2f9ff;
}