/* stockBox-wrapper */
.stockBox-wrapper {
  border: 1px solid rgba(47, 93, 142, 0.15);
  width: 250px;
  height: 130px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.58);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;    
  box-shadow: 0px, 7px rgba(47, 93, 142, 0.15);
  position: relative;
}
/* stockBox-text */
.stockBox-text {
  color: #2F5D8E;
  text-align: left;  
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  line-height: 30px;
}
/* stockBox-value */
.stockBox-value {
  color: #2F5D8E;
  text-align: left;  
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 26px;
}
.blue-btn{
  background: #2F5D8E;
  font-size: 16px;
  color: #fff;
  width: 77px;
  height: 33px;
  border-radius: 8px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue-btn img{
  width: 15px;
}