/* dashboard-wrapper */
.dashboard-wrapper {
  text-align: left;
}
/* dashboard-top-text */
.dashboard-top-text {
  margin: 20px;  
  border-radius: 20px;
  text-align: center;
  background: rgba(82, 144, 228, 0.11);
  border: 1px solid #5290E41C;
  color: #2F5D8E;
  font-size: 18px;
  /* line-height: 37px; */
  font-weight: 500;
  padding: 10px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* button-wrapper */
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.button-wrapper .tft-btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  background: #D45E2C;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
}

.button-wrapper .tft-btn-right {
  margin-left: 20px;
}
/* dashboard-pricing-wrapper */
.dashboard-pricing-wrapper {
  padding: 0;
  margin: auto;
  width: 50%;
  margin-top: 50px;
}
.dashboard-pricing-wrapper li {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
/* stockBoxWrapper */
.stockBoxWrapper {
  /* width: 80%; */
  margin: auto;
  margin-top: 20px;
}
/* stockBoxWrapper-row */
.stockBoxWrapper-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.stock-middle {
  margin-left: 20px;
  margin-right: 20px;
}
