/* buy-tft-table-row */
.buy-tft-table-row td{    
  font-size: 20px;
}
/* bnbIcon */
.bnbIcon {
  width: 50px;
}
/* table-buyNow-btn */
.table-buyNow-btn {
  background: #D45E2C;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
}
.ml20{
  margin-left: 20px;
}