.header-main-wrapper{
    background: #fff;
    border-bottom: 0.5px solid #2F5D8E;
    height: 60px;
    display: flex;
    align-items: center;
}
/* buyTft-dropdown */
.buyTft-dropdown{    
    width: 110px;    
    position: absolute;
    right: 0px;
    top: 42px;    
    margin: 0;
    padding: 0;
}
.buyTft-dropdown li{
    font-size: 12px;    
    margin: 0;
    padding: 0;    
    text-align: left;
    cursor: pointer;  
}
/* connect-button-in-topNav */
.connect-button-in-topNav{
    border: 1px solid #2F5D8C;
    border-radius: 10px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;
    cursor: pointer;
    background: #fff;
    color: #2F5D8C;
    position: relative;
    margin-bottom: 2px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.social-media-container{
    justify-content: end !important;
}