.buyTft-h{
  color: #2F5D8E;  
  font-style: bold;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 8%;
  margin-top: 50px;
  font-weight: 700;
}
.buyTft-h span{
  border-bottom: 2px solid #2F5D8E;
}
/* buy-tft-wrapper */
.buy-tft-wrapper {
  border: 1px solid #ccc;
  background: #FFFFFF;
  width: 70%;
  margin: auto;
  margin-top: 28px;
  border-radius: 10px;
  margin-bottom: 100px;
  padding-bottom: 30px;
}
.buy-tft-heading {
  margin: auto;  
  text-align: left;    
  background: #2F5D8E;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  height: 72px;
  padding-left: 30px;    
}
/* buy-tft-table */
.buy-tft-table {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
/* bnbIcon */
.bnbIcon {
  width: 30px;
}
