/* loanTerm-main-wrapper */
.loanTerm-main-wrapper{
    border: 1px solid #ccc;
    width: 450px;  
    border-radius: 20px;
    padding-bottom: 20px;
    background: #FFFFFF;
}
/* term-title-wrapper */
.term-title-wrapper{        
    border-bottom: 1px solid #ccc;
    background: #2F5D8E;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
}
/* interest-box-wrapper */
.interest-box-wrapper{
    display: flex;
    justify-content: space-between;    
    margin: auto;
    margin-top: 10px;   
}
/* inerest-box */
.d-interest{            
    font-size: 14px;
    margin: 10px;
}
.d-interest p{
margin-bottom: 0;
display: flex;
align-items: center;
}
.d-interest p img{
    width: 20px;
    margin-right: 10px;
}
/* interest-input-wrapper */
.interest-input-wrapper{
    padding-top: 10px;
    width: calc(100% - 20px);
    margin: auto;
}
/* receiveBusd-wrapper */
.receiveBusd-wrapper{
    padding-top: 10px;
    text-align: left;
    width: calc(100%);
    margin: auto;
}
.receiveBusd-wrapper p{
    padding: 10px;
    margin: 0;
    border: 1px solid #E4E4E4;
    display: flex;
    justify-content: space-between;
}
/* depositApprove-btn-wrapper */
.depositApprove-btn-wrapper{
    padding-top: 10px;    
    width: calc(100% - 20px);
    margin: auto;
    display: flex;
    justify-content: center;
}
.depositApprove-btn-wrapper .deposit-Approve-btn{
    background: #D55E2D;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    border-radius: 10px;
}