/* bondDiscount-wraooer */
.bondDiscount-wraooer {
  border: 1px solid #ccc;
  background: #FFFFFF;
  width: 70%;
  margin: auto;
  /* margin-top: 50px; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0;  
  margin-top: 100px;
  box-shadow: #2F5D8E26;
}
/* bondDiscount-heading */
.bondDiscount-heading {
  display: flex;
  text-align: left;
  align-items: center;
  background: #2F5D8E;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bondDiscount-heading-img{
  display: flex;
  align-items: center;
}
.bondDiscount-heading img {
  width: 30px;
}
/* bondDiscount-inner-wrapper */
.bondDiscount-inner-wrapper{
  margin: 20px;
}
/* bondDiscountOnTFT */
.bondDiscountOnTFT {  
  display: flex;
  justify-content: space-between;
  /* margin-top: 30px; */
}
.bondDiscountOnTFT1{
  display: flex;
  justify-content: space-between;
}
.bondDiscountOnTFT1 span{
  font-size: 20px;
  font-weight: 700;
}
/* tft-conversion-wrapper */
.tft-conversion-wrapper {
  display: flex;
  justify-content: space-between;
}
.tft-conversion-wrapper .left {
  width: 70%;
}

.tft-conversion-wrapper .right .buyButton {
  padding: 7px 10px;
  width: 150px;
  text-transform: uppercase;
  background: #d45e2c;
  color: #fff;
  cursor: pointer;
}
/* mt30 */
.mt30 {
  margin-top: 30px;
}

.downarrow-w{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.downarrow{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #2F5D8E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group-prepend{
  border: 1px solid #2F5D8E;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-group-prepend{
  border: 1px solid #2F5D8E;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.back-buytft-w{
}
.back-buytft-w .back{
  border: 1px solid #D45E2C;
  width: 100px;
  font-size: 20px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.back-buytft-w .back span{
  color: #D45E2C;
}
.back-buytft-w .buy{
  border: 1px solid #D45E2C;
  background: #D45E2C;
  color: #fff;
  font-size: 20px;
  width: 100px;
  height: 40px;
  margin-left: 20px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.back-buytft-w .buy span{
  color: #fff;
}