/* airDrop-title */
.airDrop-title{
    margin-top: 100px;    
}
.airdrop-title{
    background: #2F5D8E;
    color: #fff;
    font-size: 26px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;    
    border-top-right-radius: 10px;    
}
.marketing-title{
    font-size: 34px;
    margin-bottom: 30px;
    margin-top: 30px;
}
/* airDrop-below-text */
.airDrop-below-text{
    margin-bottom: 30px;
}
/* airdrops-box */
.airdrops-box{
    width: 50%;
    margin: auto;    
    border: 1px solid #ccc;
    border-radius: 10px;
}
.airdrops-box table{
    width: 100%;
    margin: auto;   
    background: #fff;    
    padding: 0;
}
.airdrop-table-header{
    background: #EFEFEF;    
    height: 40px;
}
/* claim-button */
.claim-button{
    background: #D55E2D;
    color: #fff;
    width: 80%;
    margin: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}